/* Aplicar fuentes */
body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    text-align: center;
    overflow-x: hidden;
    font-size: 3vh;
}

/* Estilos para el header */
header {

    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6A0DAD;
    color: white;
    padding: 1% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1001;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

header h1 {

    margin: 0;
    font-size: 2rem;
    letter-spacing: 0.3em;
    font-weight: 700;
    font-family: 'Lora', serif;
}

nav {
    padding: 0% 10%;
    display: none;
    margin-left: auto;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0% 10%;
}

nav ul li {
    margin-left: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Lora', serif;
}

/* Estilos para el botón del menú */
#menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1002;
    margin-left: -100%; /* Asegurar que el botón esté alineado a la derecha */
    padding: 0; /* Elimina cualquier padding adicional que pueda estar empujando el botón hacia afuera */
}

#menu-button img {
    width: 2rem;
    height: auto;
    margin-left: -100%;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

/* Ajustar la posición del menú desplegable */
#fullscreen-menu {
    display: none;
    position: fixed;
    top: 5%;
    right: 0; /* Cambia de left a right para que el menú aparezca del lado derecho */
    width: 70%;
    height: 100%;
    background-color: #6A0DAD;
    z-index: 1000;
    text-align: left;
    padding-top: 2%;
    transition: transform 0.3s ease;
    transform: translateX(100%); /* Cambia de -100% a 100% para que el menú se desplace desde la derecha */
}

/* Ajustar la apertura del menú */
#fullscreen-menu.open {
    display: block;
    transform: translateX(0); /* Asegura que el menú se muestre correctamente al abrir */
}

#fullscreen-menu ul {
    list-style: none;
    padding: 0;
}

#fullscreen-menu ul li {
    margin: 10% 5%;
}

#fullscreen-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Lora', serif;
}

#fullscreen-menu footer {
    margin: 15% 0;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Lora', serif;
}

#fullscreen-menu footer a {
    color: white;
    text-decoration: none;
}

/* Main Content */
main {
    margin: 0;
    padding-top: 70px;
}

#carousel-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#carousel {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

#carousel img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

#prev-btn {
    left: 1%;
}

#next-btn {
    right: 1%;
}

section {
    padding: 2% 5%;
}

section h2 {
    color: #6A0DAD;
    font-size: 2rem;
    margin-bottom: 2%;
    font-family: 'Lora', serif;
}

section p {
    line-height: 1.6;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

#descubre {
    text-align: center;
}

#descubre p{
    margin: 3% 0;
}

.circle-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
}

.circle-item {
    text-align: center;
    width: 25%;
}

.circle {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.circle img:hover {
    transform: scale(1.5);
}

#contacto {
    background-color: #f0f0f0;
    padding: 2% 0;
}

#contacto p {
    margin-bottom: 1rem;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.social-links a img {
    width: 50px;
    margin: 0 1%;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #6A0DAD;
    color: white;
    padding: 1% 0;
}

footer p {
    margin: 0;
}

/* Media Queries */
@media (min-width: 768px) {
    nav {
        display: block;
    }

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    nav ul li {
        margin-left: 20px;
    }

    nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Lora', serif;
    }

    #menu-button {
        display: none;
    }

    #fullscreen-menu {
        display: none;
    }
}

/* Posicionamiento del icono fijo */
.fixed-icon {
    position: fixed;
    bottom: 5vh;
    right: 5vh; /* Cambiado a la derecha */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Para que el botón de cierre se coloque correctamente */
}

.icon-container {
    background-color: #6A0DAD; /* Mismo color que el header */
    border-radius: 50%;
    width: 20vh; /* Asegurar que el contenedor sea circular */
    height: 20vh; /* Asegurar que el contenedor sea circular */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.icon-container img {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s ease;
}

.icon-container img:hover {
    transform: scale(1.2);
}

.close-btn {
    position: absolute;
    top: -1vh; /* Ajuste para posicionar fuera del contenedor */
    left: -1vh; /* Ajuste para posicionar fuera del contenedor */
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    z-index: 1001; /* Asegurar que el botón esté por encima del contenedor */
}

/* Posicionamiento del icono fijo en la esquina superior izquierda */
.fixed-icon-left {
    position: fixed;
    top: 20vh;
    left: 10px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fixed-icon-left img {
    width: 20vh; /* Ajusta según sea necesario */
    height: auto;
    transition: transform 0.3s ease;
}

.fixed-icon-left img:hover {
    transform: scale(1.1);
}

.close-btn-left {
    position: absolute;
    top: -1vh; /* Ajuste para posicionar fuera del contenedor */
    right: -1vh; /* Ajuste para posicionar fuera del contenedor */
    background-color: transparent;
    color: black;
    border: none;
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 3vh;
    font-weight: bold;
    z-index: 1001; /* Asegurar que el botón esté por encima del contenedor */
}

.close-btn-left:hover {
    color: red;
}

/* Estilos para el popup */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1002;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: black;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.popup-close:hover {
    color: red;
}

@media (max-width: 768px) {

    body {
        font-size: 2vh;
        }
    #carousel-container {
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
    }

    .circle-item {
        width: 30%;
    }

    .circle img {
        transition: transform 0.3s ease;
    }

    .circle img:hover {
        transform: scale(1.5);
    }

    header h1 {
        font-size: 1.5rem;
    }
    
    .fixed-icon {
        bottom: 5px;
        right: 5px;
        width: 15vh;
        height: 15vh;
    }

    .fixed-icon-left {
        top: 10vh;
        left: 5px;
        width: 15vh;
        height: 15vh;
    }

    .icon-container,
    .fixed-icon-left img {
        width: 100%;
        height: 100%;
    }

    .close-btn,
    .close-btn-left {
        width: 2vh;
        height: 2vh;
        font-size: 3vh;
    }
@media (min-width: 769px) and (max-width: 1200px) {
    .circle-item {
        width: 45%;
    }
}
